[2014-11-22 02:55] ryansb opened #1 "Handle malformed YAML more sanely"
Instead of throwing 500 on malformed YAML, the site should display the students in the class with correct yaml files.

For malformed yaml it should either:

- Display an alert
- Replace tiles for students with bad YAML files with the message from the YAML parser.

_Migrated from decause/hflossk#569_

[2014-11-22 03:02] ryansb opened #2 "Use a Student class to provide calculated properties"
There are a few places now where we execute some [logic](https://github.com/decause/hflossk/blob/01ade3be0de03bfee3a0c41e60c51939337f646b/hflossk/participants.py#L72) and add properties to students. It'd be better if we could do something like this.

[code]

This will require a fair amount of changes to existing code, so before doing this we should work on decause/hflossk#419

_migrated from decau

[2014-12-02 16:22] ryansb opened #3 "Pull homework assignments to a sane place"
Right now the names of homework assignments just float in [templates/blogs.mak](https://github.com/ryansb/ofCourse/blob/8566fd9c7d30565e7f3c5540585741435c862eb1/ofcourse/templates/blogs.mak#L76) which isn't very transparent.

[2014-12-09 15:47] liam-middlebrook opened #4 "Deployment to Openshift not working"
I'm unable to deploy my ofCourse website to openshift. I get the following error log.

[code]

[2014-12-10 22:14] citruspi opened #5 "GnuPG Encrypted Grades"
_(Moved to ofCourse at the request at @ryansb)_

CC: @ralphbean @rossdylan @thequbit @mansam @alexanderkyte @chorn

As a couple students mentioned last night, students aren't aware of their grades. @decause does contact students who aren't doing well, and anyone who he hasn't contacted is looking at a B or better, but there's still a lot of uncertainty, especially with the introduction of the plus

[2014-12-11 00:06] #4 closed, assigned to nobody

[2014-12-11 01:48] ryansb opened #6 "Other deployment platforms"
Would anyone want to be able to deploy ofCourse to a platform other than Openshift?

[2014-12-11 16:44] liam-middlebrook opened #7 "Student Blog Post Counts Not Showing Up"
ofCourse no longer has the ability to retrieve the count of blog posts that a student has. This feature was most likely lost within reorganization of the blogs.mak template file as well as how the student YAML files are being parsed. I'm working on a fix for this now.

[2014-12-11 22:10] #7 closed, assigned to nobody

[2014-12-15 15:09] #3 closed, assigned to nobody

[2014-12-16 17:27] liam-middlebrook opened #10 "OpenShift Version is Out of Date"
The version of ofCourse that is stored on OpenShift is out of date (by more than a week).We won't be able to rely on OpenShift to frequently update their Pip mirror every time we push out an update; so we should come up with an alternative.

We need some way to make sure that when we are deploying to OpenShift that the latest version of ofCourse is being ran. Is it possible that we could have Open

[2015-01-06 02:54] liam-middlebrook commented on #10
I currently have a branch on [my fork of ofCourse](https://github.com/liam-middlebrook/ofCourse/tree/openshift-git) that has attempts to use the `dependency_links` in the auto-generated setup.py on deploy. Currently that doesn't seem to be working, but I think it's a step in the right direction.

[2015-01-06 14:28] ryansb commented on #10
I'm pretty sure you have the wrong version format. You're using `git+ssh://git@github.com/ryansb/ofCourse.git#egg=ofcourse-0.0.0` but I think you need `git+git://github.com/ryansb/ofCourse.git@develop#egg=ofcourse` because anonymous SSH doesn't work (AFAIK) on github.

Also for your purposes you probably want to use `develop` instead of `master`

[2015-01-08 01:17] liam-middlebrook commented on #10
I figured out part of the issue with why my dependency_links weren't working. When `setup.py` was being called on deployment it already recognized that ofCourse was installed on that machine and it had no need to download a newer version. I deleted the apps and recreated them and it seems to work.

A potential fix (although I think there is a better way) would be to increment the version number th

[2015-01-08 14:15] ryansb commented on #10
Actually you could lock it to the version of ofCourse you're using by putting the `ofcourse.__version__` in the setup.py template.

[2015-01-22 18:37] liam-middlebrook opened #11 "ofcourse new is broken"
After freshly install OfCourse I attempted to create a new content repository and received the error that I've attached at the bottom of this issue. It seems the the templates directory isn't being properly packaged into the eggfile even though it is listed in MANIFEST.in

[code]

[2015-01-26 23:43] #11 closed

[2015-01-28 22:34] ryansb opened #15 "Readme is a bit confusing"
"You will want to make sure that you have $TERM in all lowercase."

[2015-01-29 17:04] ryansb opened #16 "Add default setup for travis-ci JSON linting"

[2015-02-04 22:10] ryansb commented on #10
See #19

[2015-02-04 22:22] #10 closed

[2015-02-06 18:48] dropofwill opened #20 "'Fork me on Github' link is not clickable when navbar is collapsed for smaller screens"
The list items from the nabber cover the 'Fork me on Github' link when it is collapsed for smaller screens. making it impossible to click:

![screen shot 2015-02-06 at 1 33 46 pm](https://cloud.githubusercontent.com/assets/3129448/6085105/d2640a58-ae04-11e4-8c25-454a31da7302.png)

It's an easy enough fix with a couple lines of css (adjust the width of the li's or the z-index/positioning =), but I'

[2015-02-06 19:01] ryansb commented on #20
Would it be better to just get rid of "fork me on github" on smaller screens? I feel like tablet users probably don't do a lot of dev work on those devices.

[2015-02-06 19:10] dropofwill commented on #20
Yeah, but it enters that mode pretty early at <1200px, which is pretty close to how I browse on my laptop (1/3 terminal, 2/3 browser), so this covers more than just touch devices.

Either way it's not a big deal, because it's pretty straightforward to find the repo. Hiding it on small screens would be better than leaving it broken.

[2015-02-06 20:18] decause opened #21 "Stop the Blog Counter on /participants"
Since there is an end-date on the site.yaml, perhaps we can have the counter stop counting? This logic lives in participants.py, IIRC.

Thoughts?

[2015-02-06 20:19] ryansb commented on #21
Probably doable. That code needs some refactoring anyhow.

[2015-02-09 21:25] ryansb opened #22 "Really cryptic error when not on openshift and no public_url is specified"
Happens when running ofCourse locally and the config doesn't specify a public_url. [Source](https://github.com/ryansb/ofCourse/blob/develop/ofcourse/site.py#L39)
[code]

[2015-02-09 21:25] ryansb commented on #22
I'll get to this in the next couple days. Meantime, just specify your site's public_url in the config.yaml.

[2015-02-11 20:37] decause commented on #22
Thanks @ryansb

[2015-02-12 12:55] #20 closed

[2015-02-13 21:36] ryansb opened #25 "Stess test service on openshift"
See how well flask can handle huge (150+) classes.

[2015-02-13 22:16] ryansb opened #26 "Document that names aren't required"
Change `name` yaml key to `display_name` so students know they don't need to put their full (legal) name but that a nickname/preferred name is ok.

Also document this change in:

- [x] First flight assignment
- [x] Sample YAML
- [x] readthedocs.org documentation

[2015-02-16 19:28] decause opened #27 "Implement new Blog Counter start/stop dates"
Starting the blog counter the day that the course begins is problematic. It isn't until the completion of the <code>firstflight</code> assignment that student's blogs are actually tracked.

Currently, there isn't a way to stop the blog counter either, which would be nice for leaving the course website up after the course is completed, between semesters.

I have added <code>blog_start</code> and <c

[2015-02-20 01:51] ryansb commented on #27
Yeah, should be a simple change. Tomorrow evening will be a good time to work on it.

[2015-02-20 20:39] #22 closed

[2015-02-20 23:45] liam-middlebrook commented on #25
We can stress test with the generated YAML files from here ( https://github.com/liam-middlebrook/rant-people/releases/tag/0.0.0 )

[2015-02-21 03:41] liam-middlebrook commented on #25
Currently stress testing on http://github.com/liam-middlebrook/ofcourse-content-test.git

[2015-02-21 06:03] msoucy opened #29 "Master RSS feed"
There should be an RSS feed generated that combines all the student feeds into one so that people can see all the students' posts in one convenient place.

[2015-02-23 20:14] ryansb commented on #25
Did you do any measurement of latency/perf on this, or just check if it loaded or not?

[2015-02-23 20:15] ryansb commented on #29
So...a blog planet?

[2015-02-24 00:29] msoucy commented on #29
I guess so.

[2015-03-02 21:27] mellolikejello opened #30 "Firstflight needs avatar instructions"
@decause says this section needs a "how-to" for uploading and using libra/gravatar

[2015-03-02 21:38] mellolikejello opened #31 "Missing profile.mak?"
@liam-middlebrook
http://hfoss-ritigm.rhcloud.com/participants/2015/spring/mellolikejello

when I click on someone's name on the participants page, I get a 500 error

[2015-03-02 22:01] decause opened #32 "Push to Openshift is broken again..."
$ ofcourse openshift --app hfoss --user remy@magic.rit.edu
/home/decause/.virtualenvs/ofcourse/lib/python2.7/site-packages/requests/packages/urllib3/connectionpool.py:734: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html
  InsecureRequestWarning)
/home/decause/.virtualen

[2015-03-03 00:37] ryansb commented on #32
Uh, this is the openshift response for a wrong password.

[2015-03-03 00:38] ryansb commented on #32
a.k.a. please try again with the right email/password combo for that openshift account.

[2015-03-03 00:56] ryansb commented on #31
Your yaml file doesn't have a `name` field.

You must have a name field. It doesn't have to be your real name, but it does have to be *a* name.

[2015-03-03 00:56] #31 closed

[2015-03-03 01:00] ryansb commented on #31
Also you can (and should) run ofcourse locally to test your YAML before submitting it, or to check out errors you find.

[2015-03-03 01:05] ryansb commented on #30
Firstflight is a part of the course, not the courseware. Shouldn't the libravatar docs be there instead?

[2015-03-03 01:11] ryansb commented on #26
Done, will go out in the next release.

[2015-03-03 01:11] #26 closed

[2015-03-03 01:12] ryansb commented on #21
Superceded by #27

[2015-03-03 01:12] #21 closed

[2015-03-03 01:36] mellolikejello commented on #31
:+1: thanks!

[2015-03-03 06:13] decause commented on #32
The password authentication itself is new behavior, as it was not required
for me to enter it, even a week ago. Yacht outage may be a contributing
factor...
On Mar 2, 2015 7:38 PM, "Ryan Brown" <notifications@github.com> wrote:

[2015-03-03 12:59] ryansb commented on #32
The yacht outage is not related, ofcourse doesn't depend on yacht things.

The reason you haven't seen the password prompt for a while is because ofCourse uses your password to get a token which then lasts for (I think) 3 months. a.k.a. plenty of time for you to forget your password.

[2015-03-11 15:47] liam-middlebrook commented on #30
@ryansb firstflight is shipped default with ofCourse. It does make sense to add these instructions to the templates since that's how the Participants Page and Participant's Pages pull student avatar data.

[2015-03-12 13:31] #1 closed

[2015-03-12 21:52] ryansb commented on #30
Oh. My bad, forgot we shipped w/ some curriculum.

[2015-03-16 12:14] ryansb commented on #32
@decause did you resolve this?

[2015-03-16 12:14] ryansb commented on #25
@liam-middlebrook Did anything come of this testing?

[2015-03-16 12:14] #16 closed

[2015-03-16 12:16] ryansb opened #35 "`ofcourse sync`"
Add `sync` command to update templates in an existing course.

Primarily, this matters due to the new "material" design migration.

[2015-03-16 12:16] ryansb opened #36 "Fix `insecure https request` warnings"

[2015-03-16 12:19] ryansb opened #37 "Add favicon"
Prior to the ofCourse migration @kocsenc pointed out that we lack a favicon (which is still the case).

_ported from decause/hflossk#433_

[2015-03-16 12:20] ryansb opened #38 "Track github activity in addition to blogposts"

[2015-03-16 13:03] liam-middlebrook commented on #38
This ties in with #29

[2015-03-16 23:21] #35 closed

[2015-03-16 23:24] ryansb commented on #32
Closing since original reporter hasn't responded for 2 weeks.

[2015-03-16 23:24] #32 closed

[2015-03-17 19:04] msoucy opened #40 "Participant sort order"
There should be a way to sort participants by handle, display name, and blog count.
This will help some parts of the class where priority is given to people with more blog posts.

[2015-03-28 06:06] amm4108 opened #41 "Paginated RSS Feeds"
So I just noticed that my blog uses paginated RSS feeds, which according to what I can find is supported by the RSS standard, but it's causing only 15 posts to show in my participants counter. Is there a way for ofCourse to support this?

[2015-03-28 14:42] ryansb commented on #41
Sure can. Can you give me a link to the RFC section & your blog RSS?

[2015-03-28 14:43] ryansb commented on #41
It's not too tough a feature to add, I'd be happy to teach you how to add & test it if you'd like extra credit in @decause's class.

[2015-03-28 15:21] amm4108 commented on #41
http://tools.ietf.org/html/rfc5005#section-3, i believe is the rfc, http://ghost-alexandriamack.rhcloud.com/tag/bizlegal/rss/ is my feed, I'd definitely love to try and add it in for you guys. I'm busy this weekend but can be in IRC on Monday to work on it.

[2015-03-28 15:22] ryansb commented on #41
Sounds great, just hit me up in IRC when you have questions.

[2015-03-28 15:23] ryansb commented on #40
On the existing participants page, or are you envisioning a different "leaderboard" type page?

[2015-03-29 16:56] liam-middlebrook commented on #40
I believe that this was @ajman1101's idea. What are your thoughts on the idea above?

[2015-03-31 04:01] liam-middlebrook opened #43 "Blog Post Count Labels Are Indistinguishable in Color"
I can't tell the different between the colors for the different blog post counts anymore. Here's an example that [shows this issue](http://bizlegfoss-ritigm.rhcloud.com/participants/)

[2015-03-31 11:39] ryansb commented on #43
Hm. Looks like in the Great Re-Theming they all got classed `label-danger`. @mellolikejello can you take a look at this?

[2015-03-31 11:50] liam-middlebrook commented on #43
They aren't all label danger. Mine is the only one  at the count and should be at success. I'm just not sure the colors are different.

[2015-03-31 12:27] msoucy commented on #43
Agreed, "danger" and "close-to-success" are way too similar...

[2015-03-31 15:09] ryansb commented on #43
@msoucy by "close-to-success" do you mean `label-warning`?

[2015-03-31 15:12] ryansb commented on #43
How does this strike you
![sample](https://cloud.githubusercontent.com/assets/636610/6922098/cf48dc16-d796-11e4-9d2d-8f9041292c0c.png)

[2015-03-31 15:15] msoucy commented on #43
Yeah, `label-warning` is the name. I couldn't see an example on the page at the time.

[2015-03-31 19:36] msoucy commented on #40
Ping @ajman1101 - this would make **your** current job easier, so it would be great to get some input on it.

[2015-03-31 19:46] ajman1101 commented on #40
on the main participants page, having a setting to reorder the participants by their count descending would help TAs and profs in the future see what students are behind on their coursework.

[2015-04-03 18:52] #43 closed

[2015-04-04 19:49] ryansb commented on #36
This is a problem with the upstream openshift library [here](https://github.com/openshift/python-interface/blob/master/oshift/__init__.py#L188)

[2015-04-04 19:50] ryansb commented on #6
Unless anyone wants to add a new deploy target anytime soon, I'm going to archive this issue.

[2015-04-04 19:50] #6 closed

[2015-04-04 20:31] ryansb commented on #41
Your blog doesn't actually follow the RFC. It lacks a "next" link.

[2015-04-04 20:44] liam-middlebrook commented on #41
@ryansb a suggested fix would be to create a supplemental Ghost Blog patch for ofCourse feeds that follows Ghost's structure for paginated RSS.

Basically we would have to do
[code]

I personally don't think that creating a supplemental patch would be very useful for the future of ofCourse. I think it would be a better idea to have a student submit a patch to Ghost to fix their RSS parsing.

Ultim

[2015-04-04 20:56] amm4108 commented on #41
I noticed this a few days ago and am looking into it. I'll probably be switching my blog away from ghost until I have time to sit down and hopefully fix things.

[2015-04-04 21:01] #27 closed

[2015-04-04 21:17] #25 closed

[2015-04-10 00:02] amm4108 opened #47 "Adding Conference Badges"
Adding a badge to participants while they're at a conference for demo purposes.

[2015-04-10 00:06] liam-middlebrook commented on #47
What kind of badge?

[2015-04-10 03:41] amm4108 commented on #47
Like the conference Logo. Someone was suggesting it so they could more easily tell if the person we were talking about was there or not.

[2015-04-11 12:55] #30 closed

[2015-06-26 18:54] decause opened #50 "attendance scripts are misssing"
I know they are hard-coded for the HFOSS@RIT course, but they are important. Here is the one that I had last:
<pre>

import sys
import urllib2
from BeautifulSoup import BeautifulSoup

# List of the default months the HFOSS course runs
# months = ["09", "10", "11", "12"]
months = ["02", "03", "04", "05"]

# Scrape the whole page
page = urllib2.urlopen("http://linkybook.com/meetbot/rit-foss/2015/")

[2015-06-26 19:24] ryansb commented on #50
Uhh, can you add this to a "scripts" directory instead?

[2015-07-03 14:58] ryansb commented on #36
Out of scope.

[2015-07-03 14:58] #36 closed

[2015-07-03 14:59] ryansb commented on #41
Have you had a chance to work on this?

[2015-07-04 18:39] amm4108 commented on #41
I have not had a chance to work on this. I'm not sure if I will anytime soon.

[2015-08-06 01:41] #15 closed

[2015-08-20 18:23] decause opened #51 "CSS bug: Cannot Read white link text on light grey background"
![screenshot from 2015-08-20 14-22-12](https://cloud.githubusercontent.com/assets/427420/9391823/2021a760-4747-11e5-87ba-7df613a18e08.png)

See above screenshot on http://hfoss-ritigm.rhcloud.com/hw/bugfix for example. White text on light grey background = difficult to read.

@mellolikejello perhaps would have some advice for an easy-fix contribution by a new student this semester?

[2015-08-23 01:55] mellolikejello commented on #51
The easiest fix would be to change the white text to black or to the background color (blue in this case).

 A more involved but better material design option would be to match the card style (http://www.google.com/design/spec/components/cards.html), and add a small color border to preserve the color differentiator between note(green) and task(blue). The red/orange warnings should be fine the way

[2015-08-23 16:00] ryansb commented on #51
@mellolikejello would you be able to make this CSS change? If so, I can assign this to you.

[2015-08-23 16:01] ryansb commented on #50
@decause can you file these scripts as a PR instead of the body of an issue?

[2015-08-23 16:23] decause commented on #51
@ryansb this is an excellent easyfix bug. Perhaps we can leave it as an
exercise for new hfoss contributors?
On Aug 23, 2015 12:00 PM, "Ryan Brown" <notifications@github.com> wrote:

[2015-08-23 16:25] ryansb commented on #51
Indeed it is - when is the first bugfix assignment?

[2015-08-23 16:41] decause commented on #51
Usually week 2 or 3, but it's not my syllabus this time around ;)
On Aug 23, 2015 12:25 PM, "Ryan Brown" <notifications@github.com> wrote:

[2015-08-27 23:46] sctjkc01 commented on #51
/me facepalms - why is it that the one file I need to patch is minified... and is a single line of over a million characters?

[2015-08-27 23:55] ryansb commented on #51
Probably because it's a library, and you shouldn't change it. Instead, I'd recommend overriding it in https://github.com/ryansb/ofCourse/blob/develop/ofcourse/static/css/site.css

[2015-08-28 01:17] sctjkc01 commented on #51
Hm.  The thing is, Chrome's reading that the `material-wfont.min.css` sheet is trying to override the `site.css` sheet (as opposed to the other way around).  In theory, this might be because we load `material-wfont` before `site` - perhaps switching the two around in the header (ie, loading `site` before `material-wfont`) might fix this?

[2015-09-01 16:10] sctjkc01 commented on #51
Okay, now that I finally properly understand how CSS rules are applied:

Given the same selector, the sheet loaded last is the one that takes precedence, sure.  Thereby `site` should come after `material-wfont`.  However, because `material-wfont` has a more specific selector that matches the section (it captures `.alert a` as opposed to just `a` like `site` does), Chrome gives that more precedence

[2015-09-01 18:16] ryansb commented on #51
Ok, so `.alert code>a` sounds like a reasonable solution, would you like to post a patch for that?

[2015-09-08 15:26] ryansb commented on #50
Please reopen as a pull request, can't merge code from an issue.

[2015-09-08 15:26] #50 closed

[2015-09-16 00:38] sctjkc01 commented on #51
So sctjkc01/ofCourse@1e8ebf0 should fix one of the two issues, namely fix the link text color:

![1e8ebf0](https://cloud.githubusercontent.com/assets/1090204/9893694/84a08ec0-5be9-11e5-89e9-4caf06f89ffa.png)

Now I'm going to try to figure out how best to fix paragraphs.  I think making them black would be good, but figuring out how to do it in a general way via CSS alone on `site.css` is what's p

[2015-09-16 01:01] sctjkc01 commented on #51
Excellent.  sctjkc01/ofCourse@232cc89 fixes the non-link text coloration:

![image](https://cloud.githubusercontent.com/assets/1090204/9893968/92674492-5bec-11e5-9dfe-4d395cc65346.png)

The path currently assumes that anyone using any of `.alert-{info|success|warning|failure}` is putting it on a `div` along with the `.alert` class.  Therefore, anything just using `.alert` gets the slightly-gray `#

[2015-09-16 14:12] #51 closed

[2015-09-24 22:24] msoucy opened #55 "Better scheduling"
Instead of editing the template's HTML, it should be possible to edit a YAML or similar instead - some form of simple list of class dates/topics/due/assigned, plus a hackathon/event list, that get automatically sorted by date and displayed.

@ritjoe and I have been discussing this a bit

[2015-09-26 01:51] ryansb commented on #55
What do you think would be a sensible format? I'd like to avoid inventing our own format entirely, maybe we could leverage iCal or another existing format?

[2015-09-26 03:49] msoucy commented on #55
[vobject](https://pypi.python.org/pypi/vobject) looks like it supports iCalendar and vCard, which are (from the looks of it) very similar. There's also something called hCalendar that looks marginally nicer (human-"readable" XML), but I'm not sure if it's worth using since it's seemingly less common...

[2015-09-29 22:43] decause opened #57 "Missing Glorious README?"
![screenshot from 2015-09-29 18-42-16](https://cloud.githubusercontent.com/assets/427420/10180300/f2c02f0a-66d9-11e5-8672-8b54beec9d1f.png)

Though it says so, <code>ofcourse new</code> does not add a README file.

:ghost: :book: :person_frowning:

[2015-09-29 22:51] liam-middlebrook commented on #57
:+1: it looks like this was never actually implemented in the first place :fearful:

[2015-09-29 23:14] ryansb commented on #57
:sob::trumpet:

[2015-09-29 23:19] decause commented on #57
:sob: :postal_horn:

[2015-09-29 23:20] liam-middlebrook commented on #57
This could be a good issue for an eager HFOSS student, especially if @ritjoe will award extra credit for merged patches.

[2015-12-03 02:24] msoucy commented on #55
Closed per #58 and #60

[2015-12-03 02:24] #55 closed

[2015-12-03 02:45] msoucy commented on #41
As @amm4108 found, the issue for this in upstream seems to be https://github.com/TryGhost/Ghost/issues/2263#issuecomment-88221173

As that issue has been closed, could someone test to see if it's been fixed? From the comments it doesn't seem to be, but it would be nice to have up-to-date info here.

[2015-12-03 03:03] msoucy opened #61 "Updated shield links"
Seeing as pypip.in seems to be dead, it would probably be a good idea to switch to using shields.io for the shields in the readme.

[2015-12-03 03:04] amm4108 commented on #41
I just checked and it has not been fixed in the latest version of Ghost, I'm not sure why they closed the issue but they have supposedly been working on it.

[2015-12-03 03:05] msoucy commented on #5
Almost a year has passed since this was first proposed, and almost the same amount of time since the last comment. As a result I'd like to poll the contributors and followers:

1) Is this still something that's desired?
2) If so, should it be opt-in or opt-out?

@decause @ritjoe @ralphbean as past and current professors, what is your opinion?

I personally feel that, if it IS made, it should be CO

[2015-12-03 03:06] msoucy commented on #41
Thanks for checking! I've marked this as "help wanted" so that we can figure out if we really want a ghost-specific handler.

[2015-12-03 21:46] ritjoe commented on #5
On Wed, Dec 02, 2015 at 07:05:05PM -0800, Matt Soucy wrote:

My view is that this has two components:

1) Teaching PGP/GnuPG in whatever course is using ofCourse, if it cannot be
taken for granted already due to a pre-requisite (eg, if this is known to
have been taught in HFOSS, it's reasonable to expect it for BizLeg, Advanced
FOSS, FOSS Culture).

2) Enabling PGP/GnuPG to be set as a functional

[2015-12-04 20:15] ryansb commented on #5
Yeah - I'd say the duplication required between $INSTITUTION's grade posting system and the GPG version would make it kind of a pain for profs, and may be confusing for students if they got out of sync.

The concept of GPG-encrypted grades is nice, but I don't think it's worth the headache. If someone who thinks it's worth the effort steps up and implements it, I'll merge the **** out of it, but i

[2016-01-24 20:05] ritjoe opened #62 "Need either to genericize or update the list of previous usage"
Need to add Remy to previous instructor's list, and some sort of count on how many time he taught this. Maybe this gets split out into a history page in the documentation, with some indication of dates and reference to hflossk.

[2016-01-24 20:05] ritjoe opened #63 "example workflow diagram"
In talking with SJ last week about setting up and running a course with ofCourse we struck on the idea of some sort of diagram showing the relation of the various pieces.

Such a diagram might also be useful to the students in such a course.

I've got a diagram in the works the labels for which I'm not entirely comfortable, but I'll try to get it in as a PR for the Hive Mind to accept, reject, or

[2016-01-25 13:04] ryansb commented on #63
Going to close this issue in lieu of PR #65 since that'll cover this.

[2016-01-25 13:04] #63 closed

[2016-01-27 14:45] spg1502 opened #66 "Link (non hovering, non clicked) color is indifferent from base text color"
It looks like material-wfont.min.css (and a handful of other css stuff) are overloading the color for links in blocks of text. This is making all link text look indistinguishable from non-link text making it difficult to identify which lines of text on the page are links.

Might be worth fixing so that links are more easily identifyable!

[2016-01-27 15:45] liam-middlebrook commented on #66
Can you give a screenshot or list an example of this?

[2016-01-27 16:38] spg1502 commented on #66
Here's an example. In the first image I'm unable to tell what text in the green div is a link, and in the second I hover over it so it's highlighted. This specific content appears on this page: http://hfoss-ritjoe.rhcloud.com/hw/firstflight

![freshlink](https://cloud.githubusercontent.com/assets/9612032/12620363/10c49928-c4ea-11e5-9a37-3b1d05b5fc41.png)

![hoverlink](https://cloud.githubuserconte

[2016-02-03 03:38] ritjoe commented on #37
WilfriedE has got some icons for FOSS@RIT

https://github.com/wilfriedE/hfoss/commit/34f7825e8f18343bf729a0f4a8bdcac561813435

which are now deployed.

In principle, those are still site-specific, so maybe the idea is that someone would make one for ofCourse itself as a good default to use?

[2016-02-03 12:15] ryansb commented on #37
I don't mind having them as the default, since ofCourse is still a <strike>fossbox</strike> FOSS@MAGIC project. I'll ask him if that's kosher.

[2016-02-03 14:40] #37 closed

[2016-02-07 19:12] spg1502 commented on #66
Looking to fix this as a part of the FOSS course's bugfix assignment, but before I go messing with material-wfont.min.css I was hoping to get some context about why the color for links was overloaded in that file. It looks like @mellolikejello was the contributor that added that file in this commit ( https://github.com/ryansb/ofCourse/commit/bee11223b44deedfb3e53b96fffb5133e38aa6f9 ).

Any chance

[2016-02-08 06:38] mellolikejello commented on #66
@spg1502 material-wfont.min.css (+ material.min.css and ripples.min.css) come directly from http://fezvrasta.github.io/bootstrap-material-design/

These CSS files were used to migrate ofcourse to material design, so this link color was part of the mass update (and not exactly a deliberate selection). There are definitely places where the CSS can be polished for ofcourse usage. Tweaking should be d

[2016-02-12 14:14] spg1502 commented on #66
Thanks for the reply! I think I'll take care of this as a part of the bugfix assignment for the FOSS class. Should I assign this bug to myself?

[2016-02-12 14:16] ryansb commented on #66
Yup, go right ahead

[2016-02-12 17:06] spg1502 commented on #66
Doesn't look like I have the proper access to this repo to assign it to myself unfortunately (usually if you have the proper access, there's a checkbox next to the issue in the issue browser you can select, then pick an assignee for it and I don't have that checkbox) so if someone with the proper access wouldn't mind taking care of assigning this to me I would appreciate it!

Additionally, I'm loo

[2016-02-12 17:14] ryansb commented on #66
Those are two different distribution types, ping me in #rit-foss and I'll help you get set up.

[2016-02-12 17:17] #61 closed

[2016-02-12 23:01] msoucy commented on #66
@spg1502 that only appears when you are specifically marked as a contributor for the repository, and is used to track which of the project maintainers are working on it. In your situation (as a pull request), it's normally sufficient to just comment on the issue saying that you're working on it, if you want to avoid  others working on the same problem.

[2016-02-15 22:11] spg1502 commented on #66
@mellolikejello I ran into a small issue with the method you suggested. As seen in the screenshots I posted earlier, the style from material-wfont.min.css is taking priority over the site.css attribute for link color. Any changes I make to the link font color in site.css get overwritten by material-wfont.min.css

In the header for the page, site.css is the last stylesheet that gets set, so I would

[2016-02-15 22:23] ryansb commented on #66
It's specificity over heirarchy. The w-font.min.css file has a higher specificity on the font color.

Specifically, the rule in site.css is on the specifier `a, .alert code>a` and the one in w-font.min.css specifies `.alert a, .alert .alert-link`.

If you make the site.css specifier equally specific by adding `.alert a` then its color will win.

[2016-02-15 22:34] spg1502 commented on #66
AH! Thanks for clearing that up, I wasn't aware that there were other factors besides load order that gave CSS rules precedence.

[2016-02-15 22:34] ryansb commented on #66
https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity

[2016-02-21 18:54] #66 closed

[2016-03-29 13:46] deejoe opened #70 "error deploying to openshift"
<pre>
(hfoss-F15)deejoe@salix240:~/foss-courses/hfoss-F15/hfoss-S16$ ofcourse openshift --app hfoss --domain ritjoe
/home/deejoe/foss-courses/hfoss-F15/local/lib/python2.7/site-packages/requests/packages/urllib3/connectionpool.py:768: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/s

[2016-03-29 13:58] deejoe commented on #70
As requested, with the latest ofcourse:

<pre>
(ofcourse_environment)joe@artemisia:~/ofcourse-20160329dja1$ ofcourse openshift --app testocourse --domain ritjoe
  File "/home/joe/ofcourse-20160329dja1/ofcourse_environment/bin/ofcourse", line 11, in <module>))
  File "/home/joe/ofcourse-20160329dja1/ofcourse_environment/local/lib/python2.7/site-packages/click/core.py", line 716, in __call__
  File

[2016-03-29 14:51] ritjoe commented on #70
It's still cranky about it:

<pre>
$ ofcourse openshift --app testocourse --domain ritjoe
/home/joe/ofcourse-20160329dja1/ofcourse_environment/local/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:315: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present a

[2016-03-29 15:25] ritjoe opened #72 "now dulwich is cranky"
<pre>
Traceback (most recent call last):
  File "/home/joe/ofcourse-20160329dja1/ofcourse_environment/bin/ofcourse", line 10, in <module>
    sys.exit(cli())
  File "/home/joe/ofcourse-20160329dja1/ofcourse_environment/local/lib/python2.7/site-packages/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/home/joe/ofcourse-20160329dja1/ofcourse_environment/local/lib/

[2016-03-29 15:48] #72 closed

[2016-03-29 18:18] ritjoe opened #73 "course but not ofcourse deployed to openshift"
"ofcourse openshift --app foo --domain bar" seems to complete successfully, but hitting the URL yields an internal server error.

this app-root/logs/python.log from my test instance:

<pre>
[Tue Mar 29 13:54:26 2016] [notice] SELinux policy enabled; httpd running as context unconfined_u:system_r:openshift_t:s0:c6,c834
[Tue Mar 29 13:54:26 2016] [notice] Digest: generating secret for digest authent

[2016-03-29 20:55] ryansb commented on #73
This is due to the openshift pypi mirrors not having ofcourse 0.2.4 yet, they should pick it up soon.

[2016-03-29 20:55] #73 closed

[2016-04-01 22:11] ritjoe opened #74 "deploy still fails"
The same python.log as ryansb#73 but now a few days later.

Further, I created a "bogus" directory under ~/app-deployments when ssh'd into the gear.

I was able to install a virtualenv, activate it, and then pip install ofcourse, and it was able to bring in 0.2.4

That seems inconsistent with openshift not being able to bring in the latest ofcourse

I didn't try to run the install from ~/app-deplo

[2016-04-03 18:34] ritjoe opened #75 "A different dulwich error using Fedora 23"
I've generated a 64-bit Fedora 23 workstation virtual machine to try (among other reasons) to get closer to what other ofCourse developers may be using in their own builds.

I end up with this traceback:

<pre>
Traceback (most recent call last):
  File "/home/joe/hfoss-S16/ofcourse_environment/bin/ofcourse", line 10, in <module>
    sys.exit(cli())
  File "/home/joe/hfoss-S16/ofcourse_environment/

[2016-04-19 20:43] ryansb commented on #75
It seems like your gitconfig lacks a user/name. Try `git config --global user.name "Dee Joe"`

[2016-04-19 20:44] ryansb commented on #74
Can you attach the deploy logs from your gear?

[2016-05-06 02:40] ritjoe commented on #74
[python_log.txt](https://github.com/ryansb/ofCourse/files/251472/python_log.txt)

[2016-08-18 12:07] ritjoe opened #76 "Version skew with pypi, where did this print statement come from?"
OK, I'm giving this another go.

The version of openshift_utils.py installed during a pip install seems to be the same as found in the latest version here:

https://pypi.python.org/packages/1c/02/ebbcfce84eb89151390c4c2a3272c525671df0a4dcd070450a5d0b2bf535/ofcourse-0.2.4.tar.gz

on pypi:

https://pypi.python.org/pypi/ofcourse

But it generates this error:

[code]
However, the version in current HE

[2016-08-18 12:14] ritjoe commented on #76
I'm hoping this has relevance for #70 #74 and #75

This is with python3 (3.5.1) in Fedora24 Workstation x86_64. I'm trying it in a fairly clean KVM instance using a variant of the script from #75

https://github.com/ryansb/ofCourse/files/201486/script.txt

in which I've added lines to make sure the user.name and user.email are set.

[2016-08-18 12:55] ryansb commented on #75
This is due to a missing git username. Reopen if that doesn't fix it.

[2016-08-18 13:30] ryansb commented on #76
It was because I uploaded to pypi from a dirty working directory - my fault. I've made a new .2.5 tag and published that, without the offending `print`.

[2016-08-18 13:30] #76 closed

[2016-08-18 13:54] ghost commented on #75
I'm getting this stack trace

[code]

when running any one of several variants of this script:

[code]

It's working up through the openshift deployment.

As per https://github.com/ryansb/ofCourse/issues/75#issuecomment-212119815 I've played around with how I quote user.name and user.email but it seems not to matter.

[2016-08-18 13:56] ghost commented on #75
I'm not sure I can re-open this myself:

http://stackoverflow.com/a/21333938

[2016-08-18 13:57] ryansb commented on #75
That appears to be a dulwich bug - it's not resulting from things ofcourse passes in, but rather choking on decoding the sha (inside plumbing).

[2016-08-18 14:11] ghost commented on #75
pip freeze output, as requested via IRC

[code]

[2016-08-18 14:12] ryansb commented on #75
dulwich isn't in there - is it living outside your virtualenv or something?

[2016-08-18 14:22] ghost commented on #75
Not sure when the script bombs out of the venv, but making sure I'm in the venv and trying the ofcourse openshift step again interactively I get what looks like the same trace, but with this pip freeze:

[code]

[2016-08-18 14:36] ghost commented on #75
Confirmed that it was just that the subshell from my script that was in the venv and that therefor left the venv as the subshell exited on finishing the script.

So, that pip freeze is representative of what is in the venv

[2016-08-19 14:11] ghost commented on #75
issuing

[code]

from within the venv takes dulwich from 0.10.0 to 0.14.1 which moves us past the error above, but then generates

[code]

That can then be ameliorated by making the line in question:

[code]

Allows things to move a bit further, before running into this error:

[code]

and that's as far as I've gotten.

It looks like they've been working on this in dulwich, see this latest commit:

[2016-08-20 16:15] ghost commented on #75
More from our IRC conversation, with regard to forcing an even more recent version of Dulwich with python3 fixes (see above), pending its release:

[code]

[2016-08-22 12:39] ryansb commented on #75
Great, that looks like the best solution for now. Once a new release is out, I'll pin the requirements.txt to the newer version for Python 3 installations.

[2017-08-25 13:33] ghost commented on #75
OK, this saw me through last year.

That said, looks like we should put this to bed one way or another now. With the new year starting and some changes in my own environment, I'm taking a look at this again.

On the one hand, so far as I know, no one is using ofcourse this semester so we have some leisure to spend time looking at this instead of OMG PLEASE JUST MAKE IT WORK.

On the other hand, pr

[2017-08-25 13:56] ghost commented on #41
If I recall correctly, @wilfriedE used Ghost in spring 2016 and might be able to help us test this.

[2017-08-25 14:20] ghost opened #77 "Migrate 'ofcourse openshift' to OpenShift v3"
Received email today that the Openshift version we have been using, v2, will stop being available on September 30. It looks like the new version, v3, will have significant differences, not the least of which is that one is directed to open a new account.

I am signing up for an OpenShift Online account now so I can begin to work in this new environment.

From past experience, I expect I will be ab

[2017-08-25 18:52] wilfriedE commented on #41
@ritjoe I did, I can take a look at this.